* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    min-height: 100%; 
    height: max-content;
}

body {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr auto;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 80px 6.14%;
    background-color: #fff;
}

.car-card {
    flex: 1 1 100%;
    padding: 32px 47px;
}

.car-card > *{
    margin: 16px 0;
}

.card-header {
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
}

.card-para {
    margin-top: 22px;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    line-height: 25px;
}

.card-button {
    background-color: hsl(0, 0%, 95%);
    padding: 14px 32px;
    border: hsl(0, 0%, 95%) solid 3px;
    border-radius: 40px;
}

.card-button:hover {
    background-color: transparent;
    cursor: pointer;
}

:is(#sedan, #suv, #luxury) .card-button:hover a {
    color: hsl(0, 0%, 95%) ;
}

.card-button a {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}

#sedan {
    --color: #e28525;
    border-radius: 10px 10px 0 0;
    background-color: var(--color);
}

#suv {
    --color: #016972;
    background-color: var(--color);
}

#luxury {
    --color: #00403f;
    border-radius: 0 0 10px 10px;
    background-color: var(--color);
}

#sedan a, #suv a, #luxury a {
    color: var(--color);
}

/* Desktop */
@media screen and (min-width: 1320px) {
    body {
        background: url("images/desktop-background.png") no-repeat;
        background-size: 100% 100%;
        background-position-y: center;
    }

    .card-container {
        margin: 11% 70px;
        padding: 110px 210px;
        box-shadow: rgba(170, 170, 170, 0.401) 5px 10px 25px 12px;
    }

    .car-card img {
        width: 55px;
    }

    .car-card {
        flex: 1 1 10%;
        display: flex;
        flex-flow: column;
        align-items: stretch;
    }

    .card-button {
        margin-top: auto;
        width: max-content;
    }

    #sedan {
        border-radius: 10px 0 0 10px;
    }

    #luxury {
        border-radius: 0 10px 10px 0;
    }
}